.contact {
  top: 500%;
  background-color: #0067ff;
  width: 100%;
  height: 500px;
  position: relative;
}
.email {
  padding: 1rem 1.5rem;
  border-radius: 10px;
  border: none;
  top: 20%;
  left: 35%;
  outline: none;
  position: relative;
}
.number {
  position: relative;

  padding: 1rem 1.5rem;
  border-radius: 10px;
  border: none;
  top: 20%;
  left: 50%;
  outline: none;
}
.fname {
  position: relative;

  padding: 1rem 1.5rem;
  border-radius: 10px;
  border: none;
  top: 31%;
  left: 35%;
  outline: none;
}
.lname {
  position: relative;

  padding: 1rem 1.5rem;
  border-radius: 10px;
  border: none;
  top: 31%;
  left: 50%;
  outline: none;
}
.mess {
  position: relative;
  padding: 1rem 1.5rem;
  border-radius: 10px;
  border: none;
  top: 45%;
  left: 42%;
  outline: none;
}
.mess .placeholder {
  position: relative;
  left: 12px;
}
.submit {
  position: relative;
  background-color: #15181b;
  white-space: nowrap;
  padding: 1rem 1rem;
  color: white;
  font-size: 25px;
  outline: none;
  border: none;
  cursor: pointer;
  top: 60%;
  left: 44%;
  transition: 0.5s;
  border-radius: 10px;
}
.submit:hover {
  background-color: #358b06;
}
@media screen and (max-width: 1130) {
}
