.HomePage {
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}
.imc1 {
  position: relative;
  width: 100%;
  height: 700px;
}

@media screen and (min-width: 768px) {
  .i2 {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .imc1 {
    height: 500px;
  }
  @media screen and (max-width: 480px) {
  }
  .imc1 {
    height: 300px;
  }
}
@media screen and (max-width: 300px) {
  .imc1 {
    height: 200px;
  }
}

.heroButton {
  position: relative;
  z-index: 1;
  background-color: #0067ff;
  white-space: nowrap;
  padding: 10px 15px;
  color: white;
  font-size: 25px;
  outline: none;
  border: none;
  cursor: pointer;
  left: 45%;
  top: 60%;
  transition: 0.5s;
  border-radius: 10px;
}
.heroButton:hover {
  background-color: #358b06;
}

@media screen and (max-width: 768px) {
  .heroButton {
    padding: 5px 10px;
    font-size: 20px;
    left: 40%;
    top: 65%;
  }
}
@media screen and (max-width: 480px) {
  .heroButton {
    padding: 5px 5px;
    color: white;
    font-size: 20px;
    left: 35%;
    top: 65%;
  }
}
.h1 {
  white-space: nowrap;
  font-size: 3rem;
  font-weight: bold;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  color: white;
}
@media screen and (max-width: 768px) {
  .h1 {
    font-size: 2rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
  }
}
@media screen and (max-width: 480px) {
  .h1 {
    font-size: 1.4rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
  }
}
@media screen and (max-width: 350px) {
  .h1 {
    font-size: 1.2rem;
  }
}

.imc2 {
  position: relative;
  width: 100%;
  height: 700px;
}

.Ph1 {
  white-space: nowrap;
  font-size: 3rem;
  font-weight: bold;
  top: 25%;
  left: 70%;
  transform: translate(-50%, -50%);
  position: absolute;
  color: #212529;
}

.Ph2 {
  white-space: nowrap;
  font-size: 1.3rem;
  font-weight: bold;
  top: 60%;
  left: 77%;
  transform: translate(-50%, -100%);
  position: absolute;
  color: #212529;
  font-weight: 500;
}

.pButton {
  position: absolute;
  display: flex;
  background-color: #0067ff;
  white-space: nowrap;
  padding: 10px 15px;
  color: white;
  font-size: 25px;
  outline: none;
  border: none;
  cursor: pointer;
  left: 66.5%;
  top: 65%;
  transform: translate(-50%, -50%);
  transition: 0.5s;
  border-radius: 10px;
}

.pButton:hover {
  background-color: #358b06;
}
@media screen and (max-width: 480px) {
  .hero {
    display: none;
  }
}

.imc3 {
  position: relative;
  width: 100%;
  height: 700px;
}

.hH1 {
  white-space: nowrap;
  font-size: 3rem;
  font-weight: bold;
  top: 25%;
  left: 30%;
  transform: translate(-50%, -100%);
  position: absolute;
  color: #0067ff;
}

.hH2 {
  font-weight: 500;
  font-size: 1.3rem;
  text-align: right;
  font-weight: bold;
  top: 60%;
  left: 25%;
  transform: translate(-50%, -100%);
  position: absolute;
  color: white;
}

.hButton {
  position: absolute;
  display: flex;
  background-color: #0067ff;
  white-space: nowrap;
  padding: 10px 15px;
  color: white;
  font-size: 25px;
  outline: none;
  border: none;
  cursor: pointer;
  left: 33%;
  top: 65%;
  transform: translate(-50%, -50%);
  transition: 0.5s;
  border-radius: 10px;
}
.hButton:hover {
  background-color: #358b06;
}

.imc4 {
  position: relative;
  width: 100%;
  height: 700px;
}

.aH1 {
  white-space: nowrap;
  font-size: 3rem;
  font-weight: bold;
  top: 25%;
  left: 75%;
  transform: translate(-50%, -100%);
  position: absolute;
  color: #212529;
}
.aH2 {
  white-space: nowrap;
  font-size: 1.3rem;
  font-weight: bold;
  top: 55%;
  left: 76.5%;
  transform: translate(-50%, -100%);
  position: absolute;
  color: #212529;
}
.aButton {
  position: absolute;
  display: flex;
  background-color: #0067ff;
  white-space: nowrap;
  padding: 10px 15px;
  color: white;
  font-size: 25px;
  outline: none;
  border: none;
  cursor: pointer;
  left: 67.5%;
  top: 60%;
  transform: translate(-50%, -50%);
  transition: 0.5s;
  border-radius: 10px;
}
.aButton:hover {
  background-color: #358b06;
}
.imc5 {
  position: relative;
  width: 100%;
  height: 700px;
}

.bH1 {
  white-space: nowrap;
  font-size: 3rem;
  font-weight: bold;
  top: 25%;
  left: 30%;
  transform: translate(-50%, -100%);
  position: absolute;
  color: #0067ff;
}
.bH2 {
  white-space: nowrap;
  text-align: right;
  font-size: 1.3rem;
  font-weight: bold;
  top: 55%;
  left: 25%;
  transform: translate(-50%, -100%);
  position: absolute;
  color: white;
}
.bButton {
  position: absolute;
  display: flex;
  background-color: #0067ff;
  white-space: nowrap;
  padding: 10px 15px;
  color: white;
  font-size: 25px;
  outline: none;
  border: none;
  cursor: pointer;
  left: 34%;
  top: 60%;
  transform: translate(-50%, -50%);
  transition: 0.5s;
  border-radius: 10px;
}
.bButton:hover {
  background-color: #358b06;
}
.imc6 {
  position: relative;
  width: 100%;
  height: 700px;
}

.bv1 {
  white-space: nowrap;
  font-size: 3rem;
  font-weight: bold;
  top: 25%;
  left: 70%;
  transform: translate(-50%, -100%);
  position: absolute;
  color: #212529;
}
.bv2 {
  white-space: nowrap;
  text-align: left;
  font-size: 1.3rem;
  font-weight: bold;
  top: 55%;
  left: 73%;
  transform: translate(-50%, -100%);
  position: absolute;
  color: #212529;
}
.vButton {
  position: absolute;
  display: flex;
  background-color: #0067ff;
  white-space: nowrap;
  padding: 10px 15px;
  color: white;
  font-size: 25px;
  outline: none;
  border: none;
  cursor: pointer;
  left: 65.5%;
  top: 60%;
  transform: translate(-50%, -50%);
  transition: 0.5s;
  border-radius: 10px;
}

.vButton:hover {
  background-color: #358b06;
}

.spacer {
  position: relative;
  width: 100%;
  height: 20rem;
  z-index: -99;
}

@media screen and (min-width: 768px) {
  .Mobile {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .Desktop {
    display: none;
  }
}
.mp {
  position: relative;
  width: 100%;
  height: 150px;
}
.mp1 {
  white-space: nowrap;
  font-size: 30px;
  z-index: 2;
  color: #212529;
  position: absolute;
  top: 120%;
  left: 35%;
}

.mp2 {
  position: absolute;
  white-space: nowrap;
  font-size: 14px;
  text-align: center;
  top: 150%;
  left: 20%;
}

.mpButton {
  position: absolute;
  display: flex;
  background-color: #0067ff;
  white-space: nowrap;
  padding: 5px 10px;
  color: white;
  font-size: 20px;
  outline: none;
  border: none;
  cursor: pointer;
  left: 46%;
  top: 250%;
  transform: translate(-50%, -50%);
  transition: 0.5s;
  border-radius: 10px;
}
.mpButton:hover {
  background-color: #358b06;
}

.mh1 {
  position: relative;
  width: 100%;
  height: 150px;
}
.mheb {
  background-color: #212529;
  width: 100%;
  height: 30rem;
}
.mht {
  white-space: nowrap;
  font-size: 30px;
  z-index: 2;
  color: #0067ff;
  position: absolute;
  top: 110%;
  left: 35%;
}
.mht1 {
  position: absolute;
  white-space: nowrap;
  font-size: 14px;
  text-align: center;
  top: 150%;
  left: 25%;
  color: white;
}
.mhButton {
  position: absolute;
  display: flex;
  background-color: #0067ff;
  white-space: nowrap;
  padding: 5px 10px;
  color: white;
  font-size: 20px;
  outline: none;
  border: none;
  cursor: pointer;
  left: 45%;
  top: 275%;
  transform: translate(-50%, -50%);
  transition: 0.5s;
  border-radius: 10px;
}
.mhButton:hover {
  background-color: #358b06;
}
.ma {
  position: relative;
  width: 100%;
  height: 150px;
}
.ma1 {
  white-space: nowrap;
  font-size: 30px;
  z-index: 2;
  color: #212529;
  position: absolute;
  top: 120%;
  left: 35%;
}

.ma2 {
  position: absolute;
  white-space: nowrap;
  font-size: 14px;
  text-align: center;
  top: 150%;
  left: 20%;
}

.maButton {
  position: absolute;
  background-color: #0067ff;
  white-space: nowrap;
  padding: 5px 10px;
  color: white;
  font-size: 20px;
  outline: none;
  border: none;
  cursor: pointer;
  left: 46%;
  top: 250%;
  transform: translate(-50%, -50%);
  transition: 0.5s;
  border-radius: 10px;
}
.mc {
  position: relative;
  width: 100%;
  height: 150px;
}
.mc1 {
  white-space: nowrap;
  font-size: 30px;
  z-index: 2;
  color: #212529;
  position: absolute;
  top: 120%;
  left: 25%;
}

.mc2 {
  position: absolute;
  white-space: nowrap;
  font-size: 14px;
  text-align: center;
  top: 150%;
  left: 20%;
}

.mcButton {
  position: absolute;
  background-color: #0067ff;
  white-space: nowrap;
  padding: 5px 10px;
  color: white;
  font-size: 20px;
  outline: none;
  border: none;
  cursor: pointer;
  left: 46%;
  top: 250%;
  transform: translate(-50%, -50%);
  transition: 0.5s;
  border-radius: 10px;
}
.mcButton:hover {
  background-color: #358b06;
}
.mb {
  position: relative;
  width: 100%;
  height: 150px;
}
.mb1 {
  white-space: nowrap;
  font-size: 30px;
  z-index: 2;
  color: #0067ff;
  position: absolute;
  top: 120%;
  left: 30%;
}

.mb2 {
  color: white;
  position: absolute;
  white-space: nowrap;
  font-size: 14px;
  text-align: center;
  top: 150%;
  left: 20%;
}

.mbButton {
  position: absolute;
  background-color: #0067ff;
  white-space: nowrap;
  padding: 5px 10px;
  color: white;
  font-size: 20px;
  outline: none;
  border: none;
  cursor: pointer;
  left: 46%;
  top: 250%;
  transform: translate(-50%, -50%);
  transition: 0.5s;
  border-radius: 10px;
}
.mbButton:hover {
  background-color: #358b06;
}
.mv {
  position: relative;
  width: 100%;
  height: 150px;
}
.mv1 {
  white-space: nowrap;
  font-size: 30px;
  z-index: 2;
  color: #0067ff;
  position: absolute;
  top: 120%;
  left: 30%;
}

.mv2 {
  color: #212529;
  position: absolute;
  white-space: nowrap;
  font-size: 14px;
  text-align: center;
  top: 150%;
  left: 20%;
}

.mvButton {
  position: absolute;
  display: flex;
  background-color: #0067ff;
  white-space: nowrap;
  padding: 5px 10px;
  color: white;
  font-size: 20px;
  outline: none;
  border: none;
  cursor: pointer;
  left: 46%;
  top: 250%;
  transform: translate(-50%, -50%);
  transition: 0.5s;
  border-radius: 10px;
}
.mvButton:hover {
  background-color: #358b06;
}

@media screen and (max-width: 450px) {
  .mb1 {
    height: 150px;
  }
  .mp1 {
    font-size: 25px;
    left: 33%;
  }
  .mp2 {
    font-size: 13px;
    left: 4%;
  }
  .mpButton {
    font-size: 20px;
    top: 250%;
    left: 50%;
  }

  .mht {
    font-size: 25px;
    left: 33%;
  }
  .mht1 {
    font-size: 15px;
    left: 10%;
  }

  .mhButton {
    font-size: 20px;
    top: 285%;
    left: 50%;
  }
  .ma1 {
    font-size: 25px;
    left: 33%;
  }
  .ma2 {
    font-size: 15px;
    left: 5%;
  }

  .maButton {
    font-size: 20px;
    top: 240%;
    left: 50%;
  }
  .mc1 {
    font-size: 25px;
    left: 20%;
  }
  .mc2 {
    font-size: 15px;
    left: 2%;
  }

  .mcButton {
    font-size: 20px;
    top: 265%;
    left: 50%;
  }
  .mb1 {
    font-size: 25px;
    left: 33%;
  }
  .mb2 {
    font-size: 15px;
    left: 1%;
  }

  .mbButton {
    font-size: 20px;
    top: 265%;
    left: 50%;
  }
  .mv1 {
    font-size: 25px;
    left: 33%;
  }
  .mv2 {
    font-size: 15px;
    left: 5%;
  }

  .mvButton {
    font-size: 20px;
    top: 265%;
    left: 50%;
  }
}
@media screen and (max-width: 350px) {
  .mb1 {
    height: 150px;
  }
  .mp1 {
    font-size: 25px;
    left: 33%;
  }
  .mp2 {
    font-size: 12px;
    left: 5%;
  }
  .mpButton {
    font-size: 20px;
    top: 250%;
    left: 50%;
  }

  .mht {
    font-size: 25px;
    left: 33%;
  }
  .mht1 {
    font-size: 15px;
    left: 6%;
  }

  .mhButton {
    font-size: 20px;
    top: 285%;
    left: 50%;
  }

  .mc1 {
    font-size: 25px;
    left: 19%;
  }
  .mc2 {
    font-size: 14px;
    left: 5%;
  }

  .mcButton {
    font-size: 20px;
    top: 265%;
    left: 50%;
  }
  .mb1 {
    font-size: 25px;
    left: 27%;
  }
  .mb2 {
    font-size: 13px;
    left: 5%;
  }

  .mbButton {
    font-size: 20px;
    top: 265%;
    left: 50%;
  }
  .mv1 {
    font-size: 25px;
    left: 25%;
  }
  .mv2 {
    font-size: 13px;
    left: 10%;
  }

  .mvButton {
    font-size: 20px;
    top: 265%;
    left: 53%;
  }
}
